<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Jobs</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="premutoLogout()">
          <span>{{currentUser?.fullName}}</span> &nbsp;
          <ion-icon name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="premutoJob(job)" *ngFor="let job of jobs" text-wrap>
        <ion-thumbnail slot="start">
          <img [src]="iconForJob(job)">
          <img [src]="wheatherForJob(job)">
        </ion-thumbnail>
        <ion-thumbnail slot="end">
          <img [src]="logoForJob(job)">
        </ion-thumbnail>
        <ion-label>
          <h3>{{job.name}}</h3>
          <p>Avg: {{formatDuration(job.builds[0].estimatedDuration)}}</p>
          <p>Last ({{job.builds[0].displayName}}): {{formatDuration(job.builds[0].duration)}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
