/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://beta.ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://beta.ionicframework.com/docs/theming/color-generator */

@font-face {
  font-family: 'SkyFont';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/SkyFont/Sky_Reg.ttf');
}

@font-face {
  font-family: 'SkyFont';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/SkyFont/Sky_Bold.ttf');
}

@font-face {
  font-family: 'SkyFont';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/SkyFont/Sky_Italic.ttf');
}

@font-face {
  font-family: 'SkyFont';
  font-style: italic;
  font-weight: bold;
  src: url('../assets/SkyFont/Sky_Bold.ttf');
}

:root,
:root[mode=ios],
:root[mode=md] {
  --ion-font-family: "SkyFont", "Times New Roman", serif !important;

  font-family: "SkyFont", "Times New Roman", serif !important;
}
