<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{selectedJob?.name}}</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="premutoBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content color="white">
    <div class="hero">
      <h1>{{selectedJob?.description}}</h1>
    </div>
    <ion-grid>
      <ion-row class="fakeCard" *ngIf="sonarStatus === 'present' || selectedJob?.name.includes('sonar')">
        <ion-col class="sonarCol" size="12">
          <img class="sonarLogo" src="./assets/images/sonarqube.png">
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title *ngIf="techDebt">
                {{getFormattedTechDebt()}}
              </ion-card-title>
              <ion-card-subtitle>
                Debito Tecnico
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content *ngIf="!techDebt">
              <ion-spinner></ion-spinner>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title *ngIf="coverage">
                {{coverage.value}}%
              </ion-card-title>
              <ion-card-subtitle>
                Test Coverage
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content *ngIf="!coverage">
              <ion-spinner></ion-spinner>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm>
          <div *ngIf="selectedJob" style="text-align:center">
            <button (click)="premutoRelease()" class="release-button"
                    [ngClass]="{releasing: releasingStatus == 'releasing', released: releasingStatus == 'released'}">
              <span *ngIf="releasingStatus=='quiet'">Release!</span>
              <span *ngIf="releasingStatus=='releasing'">Releasing...</span>
              <span *ngIf="releasingStatus=='released'">Released!</span>
            </button>
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-card>
            <ion-card-content>
              <ion-card-title>
                📺 Console Output
              </ion-card-title>
            </ion-card-content>
            <ion-card-content>
              <ion-list *ngIf="consoleLines.length > 0" #scrollMe>
                <ion-item lines="none" *ngFor="let line of consoleLines">
                  <ion-label text-wrap>
                    {{line}}
                  </ion-label>
                </ion-item>
              </ion-list>
            <h2 class="noConsole" *ngIf="consoleLines.length == 0">Avvia la build per visualizzare l'output</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-content>
</ion-app>
