.release-button {
  box-sizing: border-box;
  width: 338px;
  height: 395px;
  cursor: pointer;
  font-size: 3em;
  top: 0;
  border: 1px solid #B21522;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  white-space: pre;
  background: red no-repeat 0 100%;
  background-size: 158px 142px;
  box-shadow: 1px 16px 10px 5px rgba(0, 0, 0, 0.2), 0 32px 0 0 #000000, 4px 8px 15px 4px rgba(0, 0, 0, 0.4), 5px 1px 5px 0 rgba(255, 255, 255, 0.2) inset, 5px -4px 5px 0 rgba(255, 255, 255, 0.2) inset, -2px 3px 6px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 -1px 0 rgba(40, 40, 40, 0.6);
  transition: all 40ms 0 cubic-bezier(0.6, -0.28, 0.735, 0.04);
  transform: rotateX(35deg) scaleX(1) scaleY(1) scaleZ(1) translateY(15px) translateZ(40px);
  outline: none;
  font-family: 'Anton';
}

.release-button:hover {
  background: #ff6462;
  box-shadow: 1px 16px 10px 5px rgba(0, 0, 0, 0.2), 0 32px 0 0 #000000, 4px 8px 15px 4px rgba(0, 0, 0, 0.4), 5px 1px 5px 0 rgba(255, 255, 255, 0.2) inset, 5px -4px 5px 0 rgba(255, 255, 255, 0.2) inset, -2px 2px 6px 0 rgba(0, 0, 0, 0.2) inset;
}

.release-button:active {
  position: relative;
  top: 6px;
  background: red;
  box-shadow: 1px 5px 8px 4px rgba(0, 0, 0, 0.4), 0 7px 0 0 #000000, 1px 2px 1px 1px rgba(0, 0, 0, 0.6), 3px 1px 5px 0 rgba(255, 255, 255, 0.2) inset, 3px -6px 5px 0 rgba(255, 255, 255, 0.2) inset, -1px 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
}

.release-button.releasing {
  background: dimgrey;
}

.release-button.released {
  background: #0c9028;
}

ion-content {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
      to top, rgba(255, 255, 255, 0.705), white
  ), url("../../../assets/images/pattern.png");
  background-repeat: repeat;
}
    h1 {
      margin: 0;
      text-align: center;
      color: #444444;
      padding-top: 18px;
    }
