<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{selectedJob?.name}}</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="premutoBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content color="white">
    <div class="hero">
      <h1>{{selectedJob?.description}}</h1>
    </div>
    <div style="text-align:center">
      <button (click)="premutoRelease()" class="release-button" [ngClass]="{releasing: releasingStatus == 'releasing', released: releasingStatus == 'released'}">
        <span *ngIf="releasingStatus=='quiet'">Release!</span>
        <span *ngIf="releasingStatus=='releasing'">Releasing...</span>
        <span *ngIf="releasingStatus=='released'">Released!</span>
      </button>
    </div>
  </ion-content>
</ion-app>
