/* You can add global styles to this file, and also import other style files */
:root {
  --ion-color-primary: #5150ff;
  --ion-color-primary-rgb: 81, 80, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4746e0;
  --ion-color-primary-tint: #6262ff;

  --ion-color-secondary: #f56c27;
  --ion-color-secondary-rgb: 245, 108, 39;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d85f22;
  --ion-color-secondary-tint: #f67b3d;

  --ion-color-tertiary: #b4fb04;
  --ion-color-tertiary-rgb: 180, 251, 4;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #9edd04;
  --ion-color-tertiary-tint: #bcfb1d;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 338px;
  position: relative;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Anton');


@font-face {
  font-family: 'SkyFont';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/SkyFont/Sky_Reg.ttf');
}

@font-face {
  font-family: 'SkyFont';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/SkyFont/Sky_Bold.ttf');
}

@font-face {
  font-family: 'SkyFont';
  font-style: italic;
  font-weight: normal;
  src: url('./assets/SkyFont/Sky_Italic.ttf');
}

@font-face {
  font-family: 'SkyFont';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/SkyFont/Sky_Bold.ttf');
}

:root,
:root[mode=ios],
:root[mode=md] {
  --ion-font-family: "SkyFont", "Times New Roman", serif !important;

  font-family: "SkyFont", "Times New Roman", serif !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'SkyFont', sans-serif;
}

ion-header {
  --ion-background-color: linear-gradient(to right, #d38312, #a83279);
  background: linear-gradient(to right, #d38312, #a83279);

  ion-toolbar {
    color: white;
  }
}

ion-label {
  -webkit-user-select: none;
}

ion-header {
  padding-top: 24px;
  height: 80px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}



